<?xml version="1.0"?>
<!--
  * @category  ScandiPWA
  * @package   ScandiPWA\Gtm
  * @author    Rihards Stasans <info@scandiweb.com>
 * @author    Dmitrijs Voronovs <info@scandiweb.com>
  * @copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
  * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <default>
        <pwa_gtm>
            <general>
                <enabled>0</enabled>
                <gtm_id>Gtm-000000</gtm_id>
            </general>
        </pwa_gtm>
    </default>
</config>
