<?xml version="1.0"?>
<!--
  * @category  Technodom
  * @package   Technodom\GTM
  * @author    Rihards Stasans <info@scandiweb.com>
  * @copyright Copyright (c) 2019 Scandiweb, Inc (https://scandiweb.com)
  * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pwa_gtm" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>PWA Google Tag Manager</label>
            <tab>scandiweb</tab>
            <resource>Technodom_GTM::gtm_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable FE event debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="gtm_id" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>GTM id (GTM-000000)</label>
                    <comment>Account to push events</comment>
                </field>

                <field id="gtm_data_layer" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>DataLayer Name</label>
                    <comment>Could be changed, if conflicts with another script</comment>
                </field>

                <field id="gtm_auth" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Auth param</label>
                    <comment>Left empty if not used</comment>
                </field>

                <field id="gtm_preview" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Preview param</label>
                    <comment>Left empty if not used</comment>
                </field>
            </group>

            <group id="promotions" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Promotion configuration</label>

                <field id="mapping" translate="label" type="text" sortOrder="10" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                    <label>Promotions mapping</label>
                    <frontend_model>Technodom\GTM\Block\Adminhtml\Form\Field\GTM\Promotions\Mapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Set class of promotion wrapper</comment>
                </field>
            </group>
        </section>
    </system>
</config>
